<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>285212739787-u45ue74agho9htfrv7a45b9b6svtqvls.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285212739787-u45ue74agho9htfrv7a45b9b6svtqvls</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>285212739787-5ikv7n8pnbmdt2gov9dqgac64nk0ii2k.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBR76VS4So3l-oceVz9pHL2RNSLICHPDMc</string>
	<key>GCM_SENDER_ID</key>
	<string>285212739787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arhamsaqib.domestigProvider</string>
	<key>PROJECT_ID</key>
	<string>domestig-27fe5</string>
	<key>STORAGE_BUCKET</key>
	<string>domestig-27fe5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285212739787:ios:5bcb5a86c00430b36fb34e</string>
</dict>
</plist>